name: CI

on:
  push:
    branches: [main, master]
  pull_request:

permissions:
  contents: write
  pull-requests: write

jobs:
  ci:
    uses: folke/github/.github/workflows/ci.yml@main
    secrets: inherit
    with:
      plugin: haunt.nvim
      repo: thenoetrevino/haunt.nvim
